@model ERP.Models.DataTemplates.MasterVM.UserVM

@{
    ViewBag.Title = "Create New User";
}

<h2>Create New User</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.userName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userName)
            @Html.ValidationMessageFor(model => model.userName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.loginId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.loginId)
            @Html.ValidationMessageFor(model => model.loginId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userPass)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userPass)
            @Html.ValidationMessageFor(model => model.userPass)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
        <div class="editor-field">
            @*            @Html.DropDownList("Groups", Model.Groups, "--Select--",Model.groupId) *@
            @Html.DropDownListFor(m=>m.groupId , Model.Groups, "--Select Group--")
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

